body {
  background: url("../images/background.jpg");
  font-family: 'Cinzel', serif;
  font-weight: bolder;
}

* {
  box-sizing: border-box;
}

.container, .ques-container {
  background-color: orangered;
  padding-bottom: 10px;
  padding-top: 10px;
  opacity: 0.90;
  outline-style: double;
}

.ques-container {
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
  padding: 10px;
} 

.input-group-text {
  margin-left: auto;
  margin-right: auto;
  font-weight: bolder;
}

input {
  margin-right: 10px;
  margin-left: 20px;
}

.qone, .qtwo, .qthree, .qfour, .qfive, .qsix, .qseven, .qeight {
  text-align: center;
  font-weight: bolder;
  font-size: 2ch;
}

.timer {
  width: 20%;
  height: 5%;
  background-color: orangered;
  opacity: 0.85;
  margin: auto;
  font-size: 60px;
  text-align: center;
  font-weight: bolder;
}

.display-1 {
  margin-bottom: 0px;
  font-size: 80px;
  text-align: center;
  font-weight: bolder;
  height: 5%;
}

.container {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-size: 1.5ch;
  text-align: center;
  margin-bottom: 5px; 
  background-color:ghostwhite;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.results-container {
  font-size: 40px;
  text-align: center;
  font-weight: bolder;
  width: 75%;
  height: 20%;
  background-color: orangered;
  padding-bottom: 10px;
  padding-top: 10px;
  opacity: 0.90;
  outline-style: double;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
